@import './bootstrap.min.css';
@import './menu.css';
@import './pl2.css';

body{
    direction: rtl!important;
}

@media screen and (max-width:600px){
  body{
    direction: rtl!important;
  }
  .nav_top_widget{
    height:70px!important;
    background: #0C0E15;
  }
  #menu{
    display: none;
  }
  .show_only_in_mobile{
    height: 35px!important;
    width: 100%!important;
  }

}

@media screen and (max-width:992px){
  body{
    direction: rtl!important;
  }
  .hidden_phone{
    display: none;
    height: 0px!important;
  }
  #menu{
    display: none;
  }
  #toggle-menu, #menu a{
    display: none;
  }

}

.show_only_in_mobile{
  height: 0px;
  width: 0%;
}

.row{
  padding: 0px!important;
  margin: 0px!important;
}
.nav_top_widget{
  height:70px;
  background: #0C0E15;
}

.nav_top_widget_item_head{
  display: flex;
  width: 100%;
  height: 20px;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  color: white;
  padding: 8px 6px;
}
.nav_top_widget_item_head_name{
  text-align: right;
}
.nav_top_widget_item_head_bumber{
  text-align: left;
}
.nav_top_widget_item_percent{
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 22px;
}
.line_after:after{
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -7px;
    width: 1px;
    background: #2A2E39;
}

.nav_top_widget_item_percent_vol{
  font-size: 12px;
}
.nav_top_widget_item_percent_percent{

}

.header_nav_sticky{
   background: #1E222D;
    height: 55px;
}
.header_nav_menu{
  background: #2A2E39;
  height: 55px;
}
.header_nav_sticky_logo{
  position: absolute;
  top:5px;
}
.header_nav_sticky_search{
  position: absolute;
  top:8px;
  right:10px;
}


.btn_danger_header{
  border: 0.4px solid #EF5350;
  border-radius: 6px;
  width: 125px;
  height: 41px;
  margin-top: 8px;
}
.header_nav_sticky_search{
  width: 95%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto{
  padding: 0px!important;
}


.img_plugin_circle{
  width: 50px;
}
.name_plugin_address_bar{
  color:gray;
  font-size:12px;
  padding-top:10px;
  padding-bottom:5px;
}

.v-sheet.v-card:not(.v-sheet--outlined){
  box-shadow:none!important;
  margin-top: 15px!important;
}
.v-tab{
  letter-spacing:0px!important;
}

.line_under_plgin{
  border-bottom: 2px solid #bbb;
}
.v-tabs-slider{
  background: #2196F3!important;
}
a:hover{
  text-decoration: none!important;
}
.v-chip .v-chip__content{
  font-weight: bold;
  direction: ltr!important;
}
.logo_style{
  width: 60px;
}
.v-application--wrap{
  min-height: 30px!important;
}
.vs-select-content{
  max-width: 600px!important;
}
.vs-select__label{
  left: -35px!important;
}
.vs-select__input{
  background: #363A45!important;
  color: white!important;
}
.vs-select__label{
  color: white!important;
}
.vs-icon-arrow:before{
  background: white!important; 
}
.vs-icon-arrow:after{
  background: white!important; 
}
.v-input{
  max-width:100%!important;
  border: 1px solid #D1D4DC!important;
  border-radius: 4px!important;
}
.v-label{
  font-size: 10px!important;
  padding-right: 10px!important;
}
.v-text-field>.v-input__control>.v-input__slot:before{
  border-style: none!important;
}
.theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th{
  max-width: 150px!important;
}
.v-text-field{
  padding:2px!important;
  margin: 0px!important;
}
.theme--light.v-label{
  color: #D1D4DC!important;
}
.mdi-magnify::before{
  color: #D1D4DC!important;
  padding-left:10px!important;
}
.v-data-table-header th.sortable{
  border-left: .4px solid #E0E3EB!important;
  border-right: .4px solid #E0E3EB!important;
  text-align: center!important;
}
.v-data-table>.v-data-table__wrapper>table{
  text-align: center!important;
}
