.v-chip.v-size--default{
    background: transparent!important;
}

.green{
    color:green!important;
}

.red{
    color:red!important;
}
.box_pl2{
    box-shadow:0 0 0 1px #e0e3eb;
    border-radius:6px;
}
.item_box_intabbar{
    border: .4px solid #DDE0E8;
    background: #F8F9FD;
}
.sell_arrow{
    color:#D71D2D
}
.sell_arrow:before{
    content: "";
    padding-left: 14px;
    background: url(/assets/img/plugin/1_sell_arrow.svg) no-repeat;
    background-position-y:35%;
}
.sell_strong_arrow{
    color:#EB6F7A
}
.sell_strong_arrow:before{
    content: "";
    padding-left: 14px;
    background: url(/assets/img/plugin/2_sell_arrow.svg) no-repeat;
    background-position-y:35%;
}
.buy_arrow{
    color:#3CA824
}
.buy_arrow:before{
    content: "";
    padding-left: 14px;
    background: url(/assets/img/plugin/1_arrow.svg) no-repeat;
    background-position-y:35%;
}
.buy_strong_arrow{
    color:#7DDF68;
}
.buy_strong_arrow:before{
    content: "";
    padding-left: 14px;
    background: url(/assets/img/plugin/2_arrow.svg) no-repeat;
    background-position-y:35%;
}
.normal_arrow{
    color: black;
}

.v-btn__content{
    letter-spacing: 0px!important;
}
.v-item-group{
    text-align: center!important;
}
.apexcharts-text tspan{
    direction: ltr!important;
    font-family: Vazir!important;
}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title{
    font-family: Vazir!important;   
    padding: 3px!important;
}
.apexcharts-tooltip *{
    font-family: Vazir!important;   
    padding: 1px!important;   
}
text{
    font-family: Vazir!important;
    fill: #09A6F3!important;
    font-weight: bold!important;
    font-size: 12px!important;
}
.highcharts-credits{
    display: none!important;
}
